.generic-chat-box {
  width: 820px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-area {
  flex: 9;
}

.tool-area {
  background-color: #e0e0e0;
  padding: 10px 10px;
}